body {
    background-color: lightgray;
}
#homeLogo {
    margin: 0 auto;
}
canvas {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
    background-color: white;
}
#canvas2D {
   display: none;
}