body {
    margin: 0 auto;
    text-align: center;
    background-color: #333;
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}