html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: #333;
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}

.centered {
    text-align: center;
}

.floatR {
    float: right;
}

.fontSmaller {
    font-size: smaller;
}

.subHeaderDispElem {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.flexRowVertAlign {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

iframe {
    overflow: hidden;
}