/* NAVIGATION  */
nav {
    display: inline-block;
    width: 400px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {

}
nav a:link, nav a:active, nav a:visited {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 30px;
    color: white;
    border-radius: 66px;
    border: 4px double darkorange;
    line-height: 100px;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #333;
    font-size: 24px;
}
nav a:hover {
    color: darkorange;
    border-color: white;
}
/*-----------------*/