
h3 {
    text-align: center;
}

#canvasContainer {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}
    #gameCanvas {
        background-image: url('../images/tornadoomTitlePreloaded.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    #gameCanvas:-webkit-full-screen {
        /*
        position: fixed;
        width: 100%;
        top: 0;
        height: 100%;
        */
    }
    #gameCanvas:-ms-fullscreen {
        /* To go to centre, as webkit naturally does */
        /*
        width: auto;
        height: auto;
        margin: auto;
        */
    }
