/* NAVIGATION */
nav {
    float: left;
    position: fixed;
    /*border: solid 2px #ffffff;*/
}
nav a:link, nav a:active, nav a:visited {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 20px;
    color: white;
    border-radius: 66px;
    border: 4px double darkorange;
    line-height: 70px;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #333;
    font-size: 16px;
}
nav a:hover, nav a.current {
    color: darkorange;
    border-color: white;
}
/*-----------------*/

/* CONTENT PANE */
.content {
    display: inline-block;
    text-align: left;
    background-color: #666666;
    color: aliceblue;
    width: 1000px;
    min-height: 1000px;
    margin: 0 auto 50px auto;
    padding: 10px;
    font-size: 20px;
}
.content ul {
    list-style: square;
    padding-left: 35px;
    font-size: 15px;
}

.standoutLink:link, .standoutLink:active, .standoutLink:visited {
    color: white;
    border: 4px double darkorange;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #333;
}
.standoutLink:hover {
    color: darkorange;
    border-color: #ffffff;
}

.inlineLink:link, .inlineLink:active, .inlineLink:visited {
    color: wheat;
    text-shadow: 0.1em 0.1em #333;
}
.inlineLink:hover {
    color: darkorange;
}
/*-----------------*/

footer {
    background-color: #666666;
    width: auto;
    height: 40px;
    padding: 15px;
    font-size: 14pt;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    /*background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-size: cover;*/
}