.widthControl {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
}
#titleBanner {
    width: auto;
    padding: 10px 0;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    text-shadow: 0.1em 0.1em #333;
}
#titleBanner #logoBlock {
    float: left;
}

/* NAVIGATION */
nav {
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul li {
    float: left;
}
nav a {

    display: inline-block;
    margin-left: 40px;
    color: white;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #333;
    font-size: 1em;
}
nav a div {
    margin-top: 5px;
}
nav a:hover, nav a.current {
    color: darkorange;
    border-color: white;
}

.innerNav:link, .innerNav:active, .innerNav:visited {
    color: white;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #333;
    font-weight: bold;
}
.innerNav:link:hover, .innerNav:active:hover, .innerNav:visited:hover, .innerNav.current {
    color: darkorange;
}

/*-----------------*/

/* CONTENT PANE */
.content {
    display: inline-block;
    background-color: #666666;
    text-align: left;
    color: aliceblue;
    width: 100%;
    flex: 1 1 auto;
    margin: 0px auto 0 auto;
    padding: 10px;
    font-size: 20px;
}
/*
.content ul {
    list-style: square;
    padding-left: 35px;
    font-size: 15px;
}
*/

.standoutLink:link, .standoutLink:active, .standoutLink:visited {
    color: white;
    background-color: darkorange;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 2px #333;
}
.standoutLink:hover {
    color: darkorange;
    background-color: white;
}

.inlineLink:link, .inlineLink:active, .inlineLink:visited {
    color: wheat;
    text-shadow: 0.1em 0.1em #333;
}
.inlineLink:hover {
    color: darkorange;
}
/*-----------------*/

footer {
    background-color: #666666;
    width: auto;
    height: 30px;
    padding: 15px;
    margin-top: 50px;
    font-size: 14pt;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    /*background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-size: cover;*/
}